@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "FF Shamel";
  src: url("../fonts/FFShamelFamily-UniqueMedium.woff2") format("woff2"),
    url("../fonts/FFShamelFamily-UniqueMedium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FF Shamel";
  src: url("../fonts/FFShamelFamily-UniqueLight.woff2") format("woff2"),
    url("../fonts/FFShamelFamily-UniqueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FF Shamel";
  src: url("../fonts/FFShamelFamily-UniqueBook.woff2") format("woff2"),
    url("../fonts/FFShamelFamily-UniqueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FF Shamel";
  src: url("../fonts/FFShamelFamily-UniqueBold.woff2") format("woff2"),
    url("../fonts/FFShamelFamily-UniqueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ltr {
    direction: ltr;
  }
  .rtl {
    direction: rtl;
  }
}

.gradient-border {
  background: repeating-linear-gradient(
      to bottom,
      transparent 0 4px,
      #fff 4px 8px
    ),
    linear-gradient(to bottom, #3fb8e8, #7462f4, #e81a65);
  background-size: 2px 100%;
  background-position: center;
  background-repeat: no-repeat;
}
